extends layout

block layout-content
  div.View.WelcomeView
    h1.Banner WHATABYTE
    div.Message
      div.Title
        h3 Sign up
        form(action="/auth/signUp" method="POST" name="signUpForm")
          input(id="username" name="username" placeholder="username")
          br
          input(id="password" name="password" placeholder="password")
          br
          input(type="submit" value="Sign up")
        h4 Do you have an account already?
        a(href="auth/signin").
          Sign in
    div.NavButtons
      a(href="#")
        div.NavButton Log in!